[diphoton_envelope_alpha2]
variables = ['mjj[297., 297., 1696.]','th1x[0, 0, 85]','pdf_index_diphoton_envelope_alpha2[dijet=0,moddijet=1,atlas=2,dipho=3,myexp=4]']

histoName = 'data_XM1'

variables_range = ['mjj_Low[297., 1696.]', 'mjj_Blind[297., 1696.]', 'mjj_High[297., 1696.]']

#for 3-par bkg fit
combine_parameters = [
					  'Ntot_multi_diphoton_envelope_alpha2[ 1. ]',

            'Ntot_diphoton_dijet_bkg[ 1. ]',
            'p0_diphoton_dijet[ 1.]',
            'p1_diphoton_dijet[80.]',
            'p2_diphoton_dijet[-1.]',
            'p3_diphoton_dijet[-1.]',
            'sqrts_dijet[13000]',
            'diphoton_dijet_bkg_norm[1]',
            'meff_diphoton_dijet[-1]',
            'seff_diphoton_dijet[-1]',

            'Ntot_diphoton_moddijet_bkg[ 10. ]',
            'p0_diphoton_moddijet[ 1.]',
            'p1_diphoton_moddijet[80.]',
            'p2_diphoton_moddijet[-10.]',
            'sqrts_moddijet[13000]',
            'diphoton_moddijet_bkg_norm[1]',
            'meff_diphoton_moddijet[-1]',
            'seff_diphoton_moddijet[-1]',

            'Ntot_diphoton_atlas_bkg[ 1. ]',
            'p0_diphoton_atlas[1.]',
            'p1_diphoton_atlas[1.]', 
            'p2_diphoton_atlas[100.]',
            'p3_diphoton_atlas[100.]',
            'sqrts_atlas[13000]',
            'diphoton_atlas_bkg_norm[1]',
            'meff_diphoton_atlas[-1]',
            'seff_diphoton_atlas[-1]',

            'Ntot_diphoton_dipho_bkg[ 1. ]',
            'p0_diphoton_dipho[0.1]',
            'p1_diphoton_dipho[-10.]',
            'p2_diphoton_dipho[-1.]',
            'sqrts_dipho[13000]',
            'diphoton_dipho_bkg_norm[1]',
            'meff_diphoton_dipho[-1]',
            'seff_diphoton_dipho[-1]',

            'Ntot_diphoton_myexp_bkg[ 1. ]',
            'p0_diphoton_myexp[ 1.]',
            'p1_diphoton_myexp[1.]',
            'p2_diphoton_myexp[-100]',
            'p3_diphoton_myexp[-1.]',
            'sqrts_myexp[13000]',
            'diphoton_myexp_bkg_norm[1]',
            'meff_diphoton_myexp[-1]',
            'seff_diphoton_myexp[-1]',

            #
					  'p0_diphoton_envelope_alpha2[0.1]',
					  'p1_diphoton_envelope_alpha2[-10.]', 
					  'p2_diphoton_envelope_alpha2[10.]',
					  'p3_diphoton_envelope_alpha2[-1.]',
					  'pm4_diphoton_envelope_alpha2[0]',
		        'diphoton_envelope_alpha2_bkg_norm[1]',
	      	  'meff_diphoton_envelope_alpha2[-1]',
					  'seff_diphoton_envelope_alpha2[-1]',
            #

					  'sqrts[13000]',	     
            ]
		      
combine_pdfs = [
        
         'RooDijet4ParamBinPdf::diphoton_dijet_bkg(th1x,p1_diphoton_dijet,p2_diphoton_dijet,p3_diphoton_dijet,sqrts)', 
         "EXPR::diphoton_dijet_bkg_unbin('p0_diphoton_dijet*(pow(1-mjj/sqrts,p1_diphoton_dijet)/pow(mjj/sqrts,p2_diphoton_dijet+p3_diphoton_dijet*log(mjj/sqrts) ))',mjj,p0_diphoton_dijet,p1_diphoton_dijet,p2_diphoton_dijet,p3_diphoton_dijet,sqrts)",

        'RooModDijet3ParamBinPdf::diphoton_moddijet_bkg(th1x,p1_diphoton_moddijet,p2_diphoton_moddijet,sqrts)',
        "EXPR::diphoton_moddijet_bkg_unbin('p0_diphoton_moddijet*( pow(1-pow((mjj/sqrts),1.0/3.0), p1_diphoton_moddijet)/pow((mjj/sqrts), p2_diphoton_moddijet ))',mjj,00_diphoton_moddijet,p1_diphoton_moddijet,p2_diphoton_moddijet,sqrts)",

        'RooAtlas4ParamBinPdf::diphoton_atlas_bkg(th1x,p1_diphoton_atlas,p2_diphoton_atlas,p3_diphoton_atlas,sqrts)',
        "EXPR::diphoton_atlas_bkg_unbin('p0_diphoton_atlas/(pow(mjj/sqrts,p1_diphoton_atlas))*exp(-((p2_diphoton_atlas*(mjj/sqrts))+(p3_diphoton_atlas*pow(mjj/sqrts,2))+(p4_diphoton_atlas*pow(mjj/sqrts,3))))',mjj,p0_diphoton_atlas,p1_diphoton_atlas,p2_diphoton_atlas,p3_diphoton_atlas,sqrts)",

        'RooDipho3ParamBinPdf::diphoton_dipho_bkg(th1x,p1_diphoton_dipho,p2_diphoton_dipho,sqrts_dipho)',
        "EXPR::diphoton_dipho_bkg_unbin('p0_diphoton_dipho*pow(mjj/sqrts_dipho,p1_diphoton_dipho + p2_diphoton_dipho*log(mjj/sqrts_dipho) )',mjj,p0_diphoton_dipho,p1_diphoton_dipho,p2_diphoton_dipho,sqrts_dipho)",

        'RooMyExpBinPdf::diphoton_myexp_bkg(th1x,p1_diphoton_myexp,p2_diphoton_myexp,p3_diphoton_myexp,pm4_diphoton_myexp,sqrts_myexp)',  
        "EXPR::diphoton_myexp_bkg_unbin('pow(p1_diphoton_myexp, p2_diphoton_myexp*mjj/sqrts_myexp + p3_diphoton_myexp / (mjj/sqrts_myexp))',mjj,p0_diphoton_myexp,p1_diphoton_myexp,p2_diphoton_myexp,p3_diphoton_myexp,pm4_diphoton_myexp,sqrts_myexp)",

#
         'RooMultiPdf::DIPHO_multi(pdf_index_diphoton_envelope_alpha2,diphoton_dijet_bkg,diphoton_moddijet_bkg,diphoton_atlas_bkg,diphoton_dipho_bkg,diphoton_power_bkg)',
		     'SUM::extDijetPdf(Ntot_multi_diphoton_envelope_alpha2*DIPHO_multi)'
				]

signal_mjj = [297.0, 303.0, 310.0, 317.0, 324.0, 331.0, 338.0, 345.0, 352.0, 360.0, 368.0, 376.0, 384.0, 392.0, 400.0, 409.0, 418.0, 427.0, 436.0, 445.0, 454.0, 464.0, 474.0, 484.0, 494.0, 504.0, 515.0, 526.0, 537.0, 548.0, 560.0, 572.0, 584.0, 596.0, 609.0, 622.0, 635.0, 648.0, 662.0, 676.0, 690.0, 704.0, 719.0, 734.0, 749.0, 765.0, 781.0, 797.0, 814.0, 831.0, 848.0, 866.0, 884.0, 902.0, 921.0, 940.0, 959.0, 979.0, 999.0, 1020.0, 1041.0, 1063.0, 1085.0, 1107.0, 1130.0, 1153.0, 1177.0, 1201.0, 1226.0, 1251.0, 1277.0, 1303.0, 1330.0, 1357.0, 1385.0, 1413.0, 1442.0, 1472.0, 1502.0, 1533.0, 1564.0, 1596.0, 1629.0, 1662.0, 1696.0]
signal_th1x = range(0,85+1)



