[PFJetHT_RunII_asl1_atlas]
variables = ['mjj[565.,565.,4010.]','th1x[0,0,40]']

histoName = 'h_AveDijetMass_1GeV'

variables_range = ['mjj_Low[565.,4010.]', 'mjj_Blind[565.,4010.]', 'mjj_High[565.,4010.]']

#for 3-par bkg fit
combine_parameters = ['Ntot_PFJetHT_RunII_asl1_atlas_bkg[ 10000. ]',
					  'p0_PFJetHT_RunII_asl1_atlas[1.]',
					  'p1_PFJetHT_RunII_asl1_atlas[10.2]', 
					  'p2_PFJetHT_RunII_asl1_atlas[1.2]',
					  'pm3_PFJetHT_RunII_asl1_atlas[0]',
					  'pm4_PFJetHT_RunII_asl1_atlas[0]',
					  'sqrts[13000]',
		              'PFJetHT_RunII_asl1_atlas_bkg_norm[1]',
	      	          'meff_PFJetHT_RunII_asl1_atlas[-1]',
					  'seff_PFJetHT_RunII_asl1_atlas[-1]']		     
		      
combine_pdfs = ['RooAtlas5ParamBinPdf::PFJetHT_RunII_asl1_atlas_bkg(th1x,p1_PFJetHT_RunII_asl1_atlas,p2_PFJetHT_RunII_asl1_atlas,pm3_PFJetHT_RunII_asl1_atlas,pm4_PFJetHT_RunII_asl1_atlas,sqrts)',
				"EXPR::PFJetHT_RunII_asl1_atlas_bkg_unbin('p0_PFJetHT_RunII_asl1_atlas/(pow(mjj/sqrts,p1_PFJetHT_RunII_asl1_atlas))*exp(-((p2_PFJetHT_RunII_asl1_atlas*(mjj/sqrts))+(pm3_PFJetHT_RunII_asl1_atlas*pow(mjj/sqrts,2))+(pm4_PFJetHT_RunII_asl1_atlas*pow(mjj/sqrts,3))))',mjj,p0_PFJetHT_RunII_asl1_atlas,p1_PFJetHT_RunII_asl1_atlas,p2_PFJetHT_RunII_asl1_atlas,pm3_PFJetHT_RunII_asl1_atlas,pm4_PFJetHT_RunII_asl1_atlas,sqrts)",
                'SUM::extDijetPdf(Ntot_PFJetHT_RunII_asl1_atlas_bkg*PFJetHT_RunII_asl1_atlas_bkg)']

signal_mjj = [565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132, 2231, 2332, 2438, 2546, 2659, 2775, 2895, 3019, 3147, 3279, 3416, 3558, 3704, 3854, 4010]

signal_th1x = range(0,40+1)



