[PFJetHT_RunII_asl1]
variables = ['mjj[565,565,4010]','th1x[0,0,40]','pdf_index_PFJetHT_RunII_asl1[dijet=0,atlas=1,moddijet=2]']

histoName = 'h_AveDijetMass_1GeV'

variables_range = ['mjj_Low[565.,4010.]', 'mjj_Blind[565.,4010.]', 'mjj_High[565.,4010.]']

combine_parameters = ['Ntot_PFJetHT_RunII_asl1_bkgdijet[1.98175e+05]',
		              'Ntot_PFJetHT_RunII_asl1_bkgatlas[1.98175e+05]',
                      'Ntot_PFJetHT_RunII_asl1_bkgmoddijet[1.98175e+05]',		  
		              'Ntot_multi_PFJetHT_RunII_asl1[1.98175e+05]',
		              'p0_PFJetHT_RunII_asl1[1]',
		              'p1_PFJetHT_RunII_asl1[10.2]', 
					  'p2_PFJetHT_RunII_asl1[1.2]',
					  'p3_PFJetHT_RunII_asl1[0]',   
					  'p4_PFJetHT_RunII_asl1[0.]',
					  'pa1_PFJetHT_RunII_asl1[10.2]', 
					  'pa2_PFJetHT_RunII_asl1[1.2]',
					  'pa3_PFJetHT_RunII_asl1[0]',
					  'pa4_PFJetHT_RunII_asl1[0]',
					  'pmd1_PFJetHT_RunII_asl1[10.2]', 
					  'pmd2_PFJetHT_RunII_asl1[1.2]',
					  'pmd3_PFJetHT_RunII_asl1[0]',
					  'pmd4_PFJetHT_RunII_asl1[0]',		  
                      'sqrts[13000]',
					  'sqrtsa[13000]',
					  'sqrtsmd[13000]',			  
	      	          'PFJetHT_RunII_asl1_bkgdijet_norm[1]',
		              'PFJetHT_RunII_asl1_bkgatlas_norm[1]',
                      'PFJetHT_RunII_asl1_bkgmoddijet_norm[1]',				  
		              'PFJetHT_RunII_asl1_multi_norm[1]',
	      	          'meff_PFJetHT_RunII_asl1[-1]',
					  'seff_PFJetHT_RunII_asl1[-1]']		     
		      
combine_pdfs = [#     'RooDijetBinPdf::PFJetHT_RunII_asl1_bkg4param(th1x,p1_PFJetHT_RunII_asl1,p2_PFJetHT_RunII_asl1,p3_PFJetHT_RunII_asl1,sqrts)',	
		         'RooDijet5ParamBinPdf::PFJetHT_RunII_asl1_bkgdijet(th1x,p1_PFJetHT_RunII_asl1,p2_PFJetHT_RunII_asl1,p3_PFJetHT_RunII_asl1,p4_PFJetHT_RunII_asl1,sqrts)',
				 "EXPR::PFJetHT_RunII_asl1_bkgdijet_unbin('p0_PFJetHT_RunII_asl1*(pow(1-mjj/sqrts,p1_PFJetHT_RunII_asl1)/pow(mjj/sqrts,p2_PFJetHT_RunII_asl1+p3_PFJetHT_RunII_asl1*log(mjj/sqrts)+p4_PFJetHT_RunII_asl1*log(mjj/sqrts)*log(mjj/sqrts)))',mjj,p0_PFJetHT_RunII_asl1,p1_PFJetHT_RunII_asl1,p2_PFJetHT_RunII_asl1,p3_PFJetHT_RunII_asl1,p4_PFJetHT_RunII_asl1,sqrts)",
                 'RooAtlas5ParamBinPdf::PFJetHT_RunII_asl1_bkgatlas(th1x,pa1_PFJetHT_RunII_asl1,pa2_PFJetHT_RunII_asl1,pa3_PFJetHT_RunII_asl1,pa4_PFJetHT_RunII_asl1,sqrtsa)',
				 "EXPR::PFJetHT_RunII_asl1_bkgatlas_unbin('p0_PFJetHT_RunII_asl1/(pow(mjj/sqrtsa,pa1_PFJetHT_RunII_asl1))*exp(-((pa2_PFJetHT_RunII_asl1*(mjj/sqrtsa))+(pa3_PFJetHT_RunII_asl1*pow(mjj/sqrtsa,2))+(pa4_PFJetHT_RunII_asl1*pow(mjj/sqrtsa,3))))',mjj,p0_PFJetHT_RunII_asl1,pa1_PFJetHT_RunII_asl1,pa2_PFJetHT_RunII_asl1,pa3_PFJetHT_RunII_asl1,pa4_PFJetHT_RunII_asl1,sqrtsa)",
                 'RooModDijet5ParamBinPdf::PFJetHT_RunII_asl1_bkgmoddijet(th1x,pmd1_PFJetHT_RunII_asl1,pmd2_PFJetHT_RunII_asl1,pmd3_PFJetHT_RunII_asl1,pmd4_PFJetHT_RunII_asl1,sqrtsmd)',	
		         "EXPR::PFJetHT_RunII_asl1_bkgmoddijet_unbin('p0_PFJetHT_RunII_asl1*pow(1-pow(mjj/sqrtsmd,1.0/3.0),pmd1_PFJetHT_RunII_asl1)/pow(mjj/sqrtsmd,pmd2_PFJetHT_RunII_asl1+pmd3_PFJetHT_RunII_asl1*log(mjj/sqrtsmd)+pmd4_PFJetHT_RunII_asl1*log(mjj/sqrtsmd)*log(mjj/sqrtsmd))',mjj,p0_PFJetHT_RunII_asl1,pmd1_PFJetHT_RunII_asl1,pmd2_PFJetHT_RunII_asl1,pmd3_PFJetHT_RunII_asl1,pmd4_PFJetHT_RunII_asl1,sqrtsmd)",
                 		         
				 'RooMultiPdf::PFJetHT_RunII_asl1_multi(pdf_index_PFJetHT_RunII_asl1,PFJetHT_RunII_asl1_bkgdijet,PFJetHT_RunII_asl1_bkgatlas,PFJetHT_RunII_asl1_bkgmoddijet)',
		         'SUM::extDijetPdf(Ntot_multi_PFJetHT_RunII_asl1*PFJetHT_RunII_asl1_multi)']

signal_mjj = [565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132, 2231, 2332, 2438, 2546, 2659, 2775, 2895, 3019, 3147, 3279, 3416, 3558, 3704, 3854, 4010]

signal_th1x = range(0,40+1)













