[PFJetHT_RunII_asl1_moddijet]

variables = ['mjj[565.,565.,4010.]','th1x[0,0,40]']

histoName = 'h_AveDijetMass_1GeV'

variables_range = ['mjj_Low[565.,4010.]', 'mjj_Blind[565.,4010.]', 'mjj_High[565.,4010.]']

#for 3-par bkg fit
combine_parameters = ['Ntot_PFJetHT_RunII_asl1_moddijet_bkg[ 10000. ]',
					  'p0_PFJetHT_RunII_asl1_moddijet[1.]',
					  'p1_PFJetHT_RunII_asl1_moddijet[10.2]', 
					  'p2_PFJetHT_RunII_asl1_moddijet[1.2]',
					  'pm3_PFJetHT_RunII_asl1_moddijet[0]',
					  'pm4_PFJetHT_RunII_asl1_moddijet[0]',
					  'sqrts[13000]',
		              'PFJetHT_RunII_asl1_moddijet_bkg_norm[1]',
	      	          'meff_PFJetHT_RunII_asl1_moddijet[-1]',
					  'seff_PFJetHT_RunII_asl1_moddijet[-1]']		     
		      
combine_pdfs = ['RooModDijet5ParamBinPdf::PFJetHT_RunII_asl1_moddijet_bkg(th1x,p1_PFJetHT_RunII_asl1_moddijet,p2_PFJetHT_RunII_asl1_moddijet,pm3_PFJetHT_RunII_asl1_moddijet,pm4_PFJetHT_RunII_asl1_moddijet,sqrts)',	
		        "EXPR::PFJetHT_RunII_asl1_moddijet_bkg_unbin('p0_PFJetHT_RunII_asl1_moddijet*pow(1-pow(mjj/sqrts,1.0/3.0),p1_PFJetHT_RunII_asl1_moddijet)/pow(mjj/sqrts,p2_PFJetHT_RunII_asl1_moddijet+pm3_PFJetHT_RunII_asl1_moddijet*log(mjj/sqrts)+pm4_PFJetHT_RunII_asl1_moddijet*log(mjj/sqrts)*log(mjj/sqrts))',mjj,p0_PFJetHT_RunII_asl1_moddijet,p1_PFJetHT_RunII_asl1_moddijet,p2_PFJetHT_RunII_asl1_moddijet,pm3_PFJetHT_RunII_asl1_moddijet,pm4_PFJetHT_RunII_asl1_moddijet,sqrts)",
                'SUM::extDijetPdf(Ntot_PFJetHT_RunII_asl1_moddijet_bkg*PFJetHT_RunII_asl1_moddijet_bkg)']

signal_mjj = [565, 606, 649, 693, 740, 788, 838, 890, 944, 1000, 1058, 1118, 1181, 1246, 1313, 1383, 1455, 1530, 1607, 1687, 1770, 1856, 1945, 2037, 2132, 2231, 2332, 2438, 2546, 2659, 2775, 2895, 3019, 3147, 3279, 3416, 3558, 3704, 3854, 4010]

signal_th1x = range(0,40+1)



