*.condor
*.stderr
*.stdout
*.pyc
*.root
DijetRootTreeAnalyzer/inputs/Interpolations/*
DijetRootTreeAnalyzer/python/runInterpo/Call*
DijetRootTreeAnalyzer/python/runInterpo/single*
DijetRootTreeAnalyzer/inputs/X*
DijetRootTreeAnalyzer/InterpoPlotter/OutFiles
DijetRootTreeAnalyzer/inputs/Shapes_fromInterpo/*
DijetRootTreeAnalyzer/InterpoPlotter/FineScanAnalysis/Plots


